.home{
    margin-left: 27%;
    margin-top: 3rem;
    width: 71%;
    /* padding-left: 1rem; */
}
.heading{
    width: max-content;
    height: 26.9px;
    padding-left: 3px;
    padding-right: 3px;
    
}
