.myTab{
    /* margin-left: 27%; */
    margin-top: 3rem;
    width: 71%;
    cursor: pointer;
    
}
.extra{
    position: absolute;
    width: 91px;
    border: 1.4px solid blue;
    border-radius: 50rem;
    transition: all 0.2s ease-in;
    margin-top: 45px;
    /* marg */
    z-index: 0;
    
}
.tabs{
    transition: all 0.2s ease-in;
}