.mynav{
    margin-left: 27%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

    position: sticky;
    top: 0;
    width: 71%;
    
}

.alllink{
    margin-left: 5%;
    
}
.butter{
    width: 1.6%;
    height: 1.25rem;
    margin-left: 27%;
    animation: move 30s infinite ease-in-out ;
}

.butter img {
    width: 100%;
    height: 100%;
} 
@keyframes move {
    0%{
        margin-left: 27%;
        transform: rotatey(0deg);
    }
    10%{
        margin-left: 38%;
        transform: rotatey(0deg);
    }
    30%{
        margin-left: 70%;
        transform: rotatey(0deg);
    }
    45%{
        margin-left: 95%;
        transform: rotatey(0deg);
    }
    55%{
        margin-left: 95%;
        transform: rotatey(180deg);
    }

    
    100%{
        transform: rotatey(180deg);
        margin-left: 27%;
    }
}

.rope{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -3rem;
    top: -4rem;
    width: 10rem;
    overflow: hidden;
    padding: 0;
    /* background-size: cover; */
    background-repeat: no-repeat;

    background-origin: content-box;
    background-position: center;
    z-index: 0;
    position: fixed;
}

.rope img{
    width: 100%;
    margin-bottom: -11px;

}


.alink:active{
    color: rgb(15, 228, 97);
}

.fa-sun{
    cursor: pointer;
    color: rgb(243, 237, 178);
}
.fa-moon{
    cursor: pointer;
    margin-left: 13px;
}

